.omr-btn {
  border: none;
  border-radius: 50px;
  background-color: #002d40;
  color: white;
  width: 55px;
  height: 55px;
  font-size: 25px;
  font-weight: 800;
}

.game3-p {
  font-size: 18px;
  margin: 0;
}

.main-game3 {
  margin: 3% 3% 0;
}

.card-game3 {
  padding-top: 30px;
}

.card-width-game3 {
  width: 90% !important;
  margin: auto;
}

.game-head {
  padding: 0 3%;
  padding: 1%;
}

.opt-div {
  padding: 3%;
  background-color: rgba(26, 166, 183, 0.2);
  border-radius: 10px;
}

.question-text {
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  padding: 0;
}

.question-text div {
  margin-bottom: 0.7rem;
}

.quiz-option-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}

.quiz-head {
  font-size: 25px;
  margin-bottom: 1rem;
  text-align: center;
  border-radius: 30px;
  font-family: "Lilita One", cursive;
  color: #ff414d !important;
  font-style: italic;
  font-weight: 600;
}

.submit-button {
  display: flex;
  justify-content: center;
}

.top-p-game3 {
  font-size: 20px;
}

.span-game3 {
  font-size: 10px;
}

@media (min-width: 992px) {
  .quiz-head {
    font-size: 45px;
  }

  .game3-p {
    font-size: 2.5rem;
  }

  .omr-btn {
    width: 75px;
    height: 65px;
    font-size: 35px;
  }

  .card-game3 {
    padding-top: 70px;
  }

  .top-p-game3 {
    font-size: 25px;
  }
}
